<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766288488295-6m7u1om6i4n1fpci3d81sqdlbppn0jnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766288488295-6m7u1om6i4n1fpci3d81sqdlbppn0jnp</string>
	<key>API_KEY</key>
	<string>AIzaSyDaywf2fLOqKb0vUYIT25s-2TySqRuYFrY</string>
	<key>GCM_SENDER_ID</key>
	<string>766288488295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Mohammad.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-b46ce</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-b46ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766288488295:ios:0854faba7c7e5a87a471c2</string>
</dict>
</plist>